@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0;
    padding: 0;


}
#page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-image: url(../Images/Background.jpg);

}
/*Text*/
h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}
h2 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;


}
a {
    color: #007eff;
}
a:visited {
    color: #65b1ff;
}


a.btn {
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px 15px;
    transition: all 0.4s ease 0s;
    text-align: center;

}
a.btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/*Header*/

header {
    height: 435px;
     background: #000 url('../Images/Banner.jpg') no-repeat center bottom;
    position: relative;
}
header a.logo {
    z-index: 1;
    position: absolute;
    display: block;
    width: 300px;
    height: 60px;
    background-image: url(../Images/logo.png);
    background-repeat: no-repeat;
    top: -4px;
    left: 10px;
}
header a.logo span {
    display: none;
}
header div.hero {
    position: absolute;
    width: 42%;
    top: 155px;
    left: 55%;
    text-align: center;
}
header div.hero h1 {
    line-height: 1em;
    margin: 0 0 30px 0;
    color: #fff;

}
audio {
    float: right;
    padding: 20px;
    margin: 0 110px 0 10px;
}
.picture {
    background-image: url(../Images/This1.jpg);
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 5px;


}

.identical-box1 {
   margin-top: 10px;
   margin: 0px;
   width: 45%;
   float: left;
   color: #fff;




}
h3 {
    color: #fff;
    text-align: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #baa;
}
h3:hover {
    color: darkgray;
    transition: all 0.4s ease 0s;
}

.identical-box2 {
   margin-left: 10%;
   width: 45%;
   float: left;
   color: #fff;


}
.picture-two {
    background-image: url(../Images/crowd.jpg);
    width: 500px;
    height: 333px;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    opacity: 0.7;
}
.identical-box3 {
    margin: 0 auto;
    color: #fff;
    margin-top: 10px;
   margin: 0px;
   width: 45%;
   float: right;
}
hr {
    margin-left: 8px;
}
p {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.100);
}
/*navigation*/

nav {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: -44px;
    left: 0px;
    padding: 40px 0 0 0;
    width: 100%;

}
nav::after {
   content: '';
    display: block;
    clear: both;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

nav ul li:hover {
    background-color: #2b0306;
}
nav ul li a:hover > ul {
    display: block;

}

nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 30px;
    text-decoration: none;
    width: 125px;
    position: relative;
}

nav ul li a:visited {
    color: #fff;

}
nav ul li a:hover {
    background-color: #6d0911;
}

/*top level*/
nav > ul {
    padding-left: 735px;


}
nav > ul > li {
    float: left;
}
nav > ul > li > a {
    width: auto;
    padding: 10px 20px 15px 20px;
}
footer {
    margin-top: 972px;
    background-color: rgb(0, 0, 0, 0.30);
    color: white;
    padding: 0.6rem;
    text-align: center;


}
@media screen and (max-width: 1000px) {
    h1 {font-size: 2.4em;}
    header div.hero {left: 56%;}
    footer {left: 56%;}
    header div.hero h1 {margin-bottom: 20px;}
    .identical-box1 .identical-box2 .identical-box3  {
        padding-left: 400px; background-size: 375px auto;}


}
@media screen and (min-width: 625px) {
    h1 {font-size: 2.2em;}
}
